<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="background-color: #f4f4f4; font-family: Roboto, arial, sans-serif;">
    <div style=" height: 100%; margin: 0; padding: 0;"> 
    </div>
    
    <div style="height:auto; max-width: 500px; background-color: rgb(249, 249, 249); margin: -80px auto 0 auto;">
     
        <div style="height: 65px; background-color: #00B0FF;  
        font-size: 30px; font-weight: 700; 
        margin-top: 20px;  color:#ffffff;">
           
           <p style="text-align:left;padding:15px;color:#ffffff;">InMedic</p>  
        </div>
        <br/>
        <div style="text-align: center; ">
            <p style="
            width: 432px;
            height: 45px;
           
            top: 82px;
            margin: 0 auto;
            font-family: 'Kadwa';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 56px;            
            color: #00FF94;">Cita aprobada</p>
        </div>

        <div style="
        width: 407px;
        height: 226px;
        padding-left: 22px;
        top: 159px;
        font-family: 'Kadwa';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #000000;">
  <p style="padding-left: 22px; font-weight: bold; ">Su solicitud de cita con id #{{citaID}}  ha sido aprobada. 
    A continuación más detalles:
    <br/>
    </p>
        
    <p style="
    width: 407px;
    height: 79px;
    padding-left: 22px;
    top: 317px;
    
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
   text-align: center;
    margin: 0 auto;
    color: #5B5B5B;">
    
    <span>Fecha:</span> {{cita_fecha}}<br/>
    <span>Hora:</span> {{cita_hora}}<br/>
    <span>Modalidad:</span> {{cita_modalidad}} <br/>
    <span>{{reunion}}:</span> <a href="{{lugar}}">Ir a la reunión</a> <br/>
    
    
     <br/>
    
     Muchas gracias por confiar en InMedic.</p>

</div>

          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
    </div>
  
</body>
</html>